@using System.Security.Principal;
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="/profile">@_userName</a>
                    <a href="/logout">Logout</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string _userName = default!;

    [CascadingParameter]
    Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask != null)
        {
            var authState = await AuthenticationStateTask;
            var user = authState.User;
            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                _userName = user.Identity.Name ?? "User";
            }
        }
    }
}