@page "/"
@inherits CustomComponentBase
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Hello, @_userName!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string _userName = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUser();
        _userName = user?.Name ?? String.Empty;
    }
}