@page "/login"
@inherits CustomComponentBase
@layout AuthLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Login</PageTitle>

<h1 class="text-center">
    Blazor Web Assembly with Identity Sample
</h1>

<div class="container mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            @if (IsFromRegister)
            {
                <div class="alert alert-primary" role="alert">
                    Successfully registered, please use your registration information to log in.
                </div>
            }
            <div class="card">
                <div class="card-header">
                    <h1 class="h2 text-center">Login</h1>
                </div>
                <div class="card-body">
                    <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="_loginModel">
                        <DataAnnotationsValidator />

                        <div class="form-floating mb-3">
                            <InputText id="inputUsername" class="form-control" @bind-Value="_loginModel.UserName" autofocus placeholder="Username" />
                            <label for="inputUsername">User Name</label>
                            <ValidationMessage For="@(() => _loginModel.UserName)" />
                        </div>

                        <div class="form-floating mb-3">
                            <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="_loginModel.Password" />
                            <label for="inputPassword">Password</label>
                            <ValidationMessage For="@(() => _loginModel.Password)" />
                        </div>

                        <div class="form-group mb-3">
                            <div class="form-check">
                                <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@_loginModel.RememberMe" />
                                <label class="form-check-label" for="inputRememberMe">Remember me</label>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </div>

                        <label class="text-danger my-3">@_error</label>

                        <NavLink href="register">
                            <h6 class="font-weight-normal text-center">Create account</h6>
                        </NavLink>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>